<div class="row"></div>

  <div  class="border" style="font-size: 25px; text-align: center; font-weight: bold">
            Scrapped Articles
        </div>    
<br>
<br>
<div class="articles"></div>
</div>


     
<script src="./assests/javascript/app.js"></script>
 